body,
html {
  margin: 0;
  font-family: Arial;
}

.tablink {
  cursor: pointer;
  background-color: white;
  border: none;
  color: #0d6efd;
  width: 7rem;
  padding: 0.6rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-size: 20px;
}

.tablink:hover {
  background-color: #0d6efd;
  color: white;
}

.tabcontent {
  padding: 1.5rem;
}

#my-tab {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #212529;
}
